/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* BODY */
body {
    font-family: Arial, sans-serif;
    background: #f1f5f9;
    color: #1e293b;
}

/* LAYOUT GENERAL */
.layout {
    display: flex;
}

/* SIDEBAR */
nav {
    width: 250px;
    height: 100vh;
    background: #0f172a;
    padding: 20px;
    position: fixed;
    left: 0;
    top: 0;
    color: white;
}

/* TITULO SIDEBAR */
nav h1 {
    margin-bottom: 10px;
}

nav p {
    margin-bottom: 20px;
    font-size: 14px;
    color: #94a3b8;
}

/* LINKS SIDEBAR (UNIFICADO) */
nav a {
    display: block;
    text-decoration: none;
    padding: 10px;
    border-radius: 6px;
    color: #cbd5f5;
    margin: 8px 0;
    transition: 0.2s;
}

nav a:hover {
    background: #1e293b;
    color: #38bdf8;
}

/* CONTENIDO */
main {
    margin-left: 250px;
    width: calc(100% - 250px);
    padding: 40px;
}

main section {
    width: 60%;
    margin: 0 auto;
}

/* TITULOS */
h2 {
    margin-bottom: 20px;
}

/* FORM */
form {
    display: flex;
    flex-direction: column;
}

/* INPUTS MEJORADOS */
input, select {
    width: 100%;
    padding: 10px;
    margin: 8px 0 16px;

    border: 1px solid #cbd5e1; 
    border-radius: 6px;
    background: white;
}

/* CHECKBOX */
input[type="checkbox"] {
    width: auto;
    margin-right: 5px;
}

/* BOTONES */
button {
    padding: 10px;
    background: #2563eb;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.2s;
}

button:hover {
    background: #1d4ed8;
}

/* MENSAJES */
li {
    background: #dcfce7;
    color: #166534;
    padding: 8px;
    border-radius: 5px;
    margin-bottom: 5px;
}