# Ignorar entornos virtuales
venv/
env/

# Ignorar archivos de configuración locales
.env

# Ignorar archivos de base de datos (si hay)
*.sqlite3

# Ignorar archivos compilados de Python
__pycache__/
*.py[cod]

# Otros típicos
*.log


